/* General styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #222222; /* Dark Violet */
  color: white;
}

/* App container */
.App {
  text-align: center;
}

/* Navigation Bar */
.navbar {
  background-color: #ffc300;
  padding: 15px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: white; /* Gold primary */
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffcc00; /* Lighter Gold */
}

/* Home Section */
.home-section {
  padding: 150px 20px 100px; /* Add big gaps above and below */
  text-align: center;
}

.home-section h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #facc15; /* Gold color */
  margin-bottom: 20px; /* Add space below the heading */
}

.home-section p {
  font-size: 1.8rem; /* Bigger font size for description */
  line-height: 2.5rem; /* Adjusted line height for better readability */
  margin: 50px auto; /* Add space above and below the paragraph */
  max-width: 800px; /* Limit width to improve layout */
}

/* Hero section styles */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #222222; /* Charcoal Background */
  color: white;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #facc15; /* Gold */
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 600px;
}

.gold-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #facc15;
  color: #222222;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.gold-button:hover {
  background-color: #3c096c; /* Dark Gold */
  transform: scale(1.05);
  color: aliceblue;
}

.featured-song {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffcc00; /* Light Gold */
  color: #222222;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
}

.songs-section {
  background-color: #222222; /* Dark Violet */
  padding: 80px 20px;
}

.songs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.song-card {
  background-color: #ffcc00; /* Light Gold */
  color: #222222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

#contact {
  background-color: #222222;
  padding: 80px 20px;
  text-align: center;
}
